:root {
  /* Set sans-serif & mono fonts */
  --sans-font: 'Ubuntu',PingFang SC,Noto Sans SC,Microsoft YaHei UI,Microsoft YaHei,Segoe UI,Helvetica Neue,Helvetica,Arial,sans-serif;
  --mono-font: 'Ubuntu Mono', monospace,PingFang SC,Noto Sans SC,Microsoft YaHei UI,Microsoft YaHei,Segoe UI,Helvetica Neue,Helvetica,Arial,sans-serif;
  --condensed-font: 'Ubuntu Condensed',PingFang SC,Noto Sans SC,Microsoft YaHei UI,Microsoft YaHei,Segoe UI,Helvetica Neue,Helvetica,Arial,sans-serif;

  /* Theme color and size */
  --sancho-logo-background-color: #f0f0f0;
  --sancho-logo-text-color: #409EFF;

  --sancho-sidebar-width: 210px;
  --sancho-sidebar-width-collapse: 64px;

  --sancho-menu-background-color: #f0f0f0;
  --sancho-menu-text-color: #303030;
  --sancho-menu-active-text-color: #303030;

  --sancho-menu-background-color-dark: #f0f0f0;
  --sancho-menu-text-color-dark: #303030;
  --sancho-menu-active-text-color-dark: #303030;

  --sancho-navbar-height: 50px;
  --sancho-tagbar-height: 30px;
}
